/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline-offset: 2px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Merriweather", "Arial", sans-serif;
  background-color: #fff;
  color: #222;
}

.dark-body {
  background-color: #282c35;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

/*! CONTAINER */
.container {
  width: 100%;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE HEADER */
.site-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.dark-body .site-header {
  background-color: #282c35;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 33px;
}

.site-header__logo-link {
  display: inline-block;
  text-decoration: none;
  color: #222;
}

.logo-link__title {
  margin: 0;
  font-weight: 900;
  font-family: "Montserrat";
  font-size: 48px;
  line-height: 1.2;
  margin-right: 40px;
}

.dark-body .site-header__logo-link {
  color: #fff;
}

.checbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-color: #222;
  cursor: pointer;
}

.checbox_moon-img {
  display: block;
  width: 16px;
  height: 16px;
}

.checbox__btn {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px 3px #ffa7c4;
  flex-shrink: 0;
  transition: margin 0.2s ease-out;
}

.checbox-toggle .checbox__btn {
  left: auto;
  margin-left: 20px;
}

.checbox_sun-img {
  display: block;
  width: 16px;
  height: 16px;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.hero {
  display: flex;
  padding-top: 220px;
  padding-bottom: 50px;
}

.hero__img {
  display: inline-flex;
  width: 84px;
  height: 84px;
  border: 3px solid #ff7500;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  background-color: #fff;
}

.hero__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.hero__title-link {
  display: inline-block;
  color: #d23669;
  text-decoration: underline;
  font-family: Montserrat;
  font-size: 28px;
}
.hero__title-link:hover {
  text-decoration: none;
}
.hero__title-link:active {
  opacity: 0.6;
}

.dark-body .hero__title-link {
  color: #ffa7c4;
}

.portfolios {
  padding-top: 80px;
  padding-bottom: 80px;
}

.portfolios__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.portfolios__item:not(:last-child) {
  margin-bottom: 46px;
}

.portfolios__item-title {
  margin: 0;
}

.portfolios__item-link {
  display: inline-block;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 36px;
  color: #d23669;
}

.dark-body .portfolios__item-link {
  color: #ffa7c4;
}

.portfolios__item-text {
  margin: 0;
  font-size: 24px;
}
.portfolios__item-text a {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #d23669;
}
.portfolios__item-text a:hover {
  text-decoration: underline;
}
.portfolios__item-text a:active {
  opacity: 0.6;
}

.dark-body .portfolios__item-text a {
  color: #ffa7c4;
}

.site-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-footer__logo-link {
  display: inline-block;
  margin-right: 30px;
  font-weight: 900;
  font-family: Montserrat;
  text-decoration: none;
  color: #222;
}
.site-footer__logo-link h1 {
  margin: 0;
}

.dark-body .site-footer__logo-link {
  color: #fff;
}

.social__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social__item {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__link {
  display: inline-flex;
}

.social__link img {
  max-width: 30px;
  max-height: 30px;
}

.social__link:hover {
  opacity: 0.8;
}

.social__link:active {
  opacity: 0.6;
}

.modal {
  position: fixed;
  z-index: 9999;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dark-body .modal {
  background-color: rgba(255, 255, 255, 0.6);
}

.modal-open {
  display: block;
}

.modal__dialog {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.modal__content {
  position: relative;
  padding: 30px;
  margin-top: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.dark-body .modal__content {
  background-color: #282c35;
}

.modal__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 22px;
  color: #000;
}

.dark-body .modal__text {
  color: #fff;
}

.modal__text-link {
  display: inline-block;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 24px;
  color: #d23669;
}

.modal__text-link:hover {
  text-decoration: underline;
}

.modal__text-link:active {
  opacity: 0.6;
}

.modal__close-block {
  display: flex;
  justify-content: center;
}

.modal__close-button {
  border: 2px solid #d23669;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: #ffa7c4;
  color: rgb(45, 45, 45);
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
}

.modal__close-button::before {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -10;
}

.modal__close-button:active {
  opacity: 0.6;
}


.dark-body .modal__close-button {
  background-color: #d23669;
  color: #fff;
}

@media only screen and (max-width: 576px) {
  .modal__content {
    padding: 24px;
  }

  .modal__text {
    font-size: 18px;
    margin-bottom: 26px;
  }

  .modal__text a {
    font-size: 20px;
  }

  .modal__close-button {
    font-size: 20px;
  }

  /* site-HEADER */
  .site-header__container {
    padding-top: 33px;
  }

  /* SITE HERO */
  .hero__img {
    width: 60px;
    height: 60px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__title-link {
    font-size: 24px;
  }

  /* PORTFOLIOS */
  .portfolios {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .portfolios__item-link {
    font-size: 30px;
  }

  .portfolios__item-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 460px) {
  .hero__title {
    font-size: 18px;
  }

  .hero__title-link {
    font-size: 22px;
  }
}

@media only screen and (max-width: 400px) {

  /* MODAL */
  .modal__content {
    padding: 20px;
    margin-top: 150px;
  }

  .modal__text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .modal__text a {
    font-size: 18px;
  }

  .modal__close-button {
    width: 100%;
    font-size: 18px;
  }

  /* SITE-header */
  .site-header__logo-link h1 {
    font-size: 40px;
  }

  /*  SITE HERO */
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }

  .hero__img {
    width: 84px;
    height: 84px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* PORTFOLIOS */
  .portfolios__item-link {
    font-size: 26px;
  }

  .portfolios__item-text {
    font-size: 18px;
  }

  /* SITE FOOTER */
  .site-footer__logo-link h1 {
    font-size: 40px;
  }
}
