.modal {
  position: fixed;
  z-index: 9999;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dark-body .modal {
  background-color: rgba(255, 255, 255, 0.6);
}

.modal-open {
  display: block;
}

.modal__dialog {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.modal__content {
  position: relative;
  padding: 30px;
  margin-top: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.dark-body .modal__content {
  background-color: $body-dark;
}

.modal__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 22px;
  color: #000;
}

.dark-body .modal__text {
  color: #fff;
}

.modal__text-link {
  display: inline-block;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 24px;
  color: $dark-red-color;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.6;
  }
}

.modal__close-block {
  display: flex;
  justify-content: center;


}

.modal__close-button {
  border: 2px solid $dark-red-color;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: $white-red-color;
  color: #000;

  &::before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -10;
  }

  &:active {
    opacity: 0.6;
  }
}

.dark-body .modal__close-button {
  background-color: $dark-red-color;
  color: #fff;
}


@media only screen and (max-width: 576px) {
  .modal__content {
    padding: 24px;
  }

  .modal__text {
    font-size: 18px;
    margin-bottom: 26px;

    a {
      font-size: 20px;
    }
  }

  .modal__close-button {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .modal__content {
    padding: 20px;
    margin-top: 150px;
  }

  .modal__text {
    font-size: 16px;
    margin-bottom: 20px;

    a {
      font-size: 18px;
    }
  }

  .modal__close-button {
    width: 100%;
    font-size: 18px;
  }
}