.site-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-footer__logo-link {
  display: inline-block;
  margin-right: 30px;
  font-weight: 900;
  font-family: Montserrat;
  text-decoration: none;
  color: $dark-color;

  h1 {
    margin: 0;
  }
}

.dark-body .site-footer__logo-link{
  color: $white-color;
}


@media only screen and (max-width: 400px) {
  .site-footer__logo-link {
    h1{
      font-size: 40px;
    }
  }
}