.social__list {
  display: flex;
  @include list;
}

.social__item {
  display: flex;
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.social__link {
  display: inline-flex;

  img {
    max-width: 30px;
    max-height: 30px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}